@model IEnumerable<HEAPIFY_Manager_540.Models.PatientDrug>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Drug.DrugName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patient.FirstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Drug.DrugName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Patient.FirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PatientDrugID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PatientDrugID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PatientDrugID })
        </td>
    </tr>
}

</table>
