@model HEAPIFY_Manager_540.Models.PatientInsurance

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PatientInsurance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Insurance.InsuranceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Insurance.InsuranceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patient.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PatientInsuranceID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
