@model HEAPIFY_Manager_540.Models.CreateOrderInternal

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CreateOrderInternal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Patient.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderingProvider)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderingProvider)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diagnoses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diagnoses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lab)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lab)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResponsibleOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResponsibleOrder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stat)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
